.cover__link {
  position: relative;
  width: 100%;
  display: block;
  text-decoration: none;
  background-position: top center;
  background-image: url(../../../images/dmitrii-vaccinium-22833-unsplash.jpg);
  background-size: 100% 100%;
  color: #ffffff;
  z-index: 0;
  overflow: hidden;
  }

.cover__link::after {
  position: absolute;
  left: 0;
  top: 0;
  content: " ";
  display: block;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: -1;
}

.cover__link:hover::after {
  opacity: 0.8;
  transition: 1s;
}
