@import url(./_status/header__lang_status_unselected.css);

.header__lang {
  font-size: 24px;
  line-height: 23px;
  margin-top: 17px;
  margin-bottom: 0;
  color: white;
}

.header__lang:hover {
  opacity: 0.5;
  transition: 1s;
}

@media screen and (max-width: 375px) {
  .header__lang {
    font-size: 18px;
    line-height: 96.82%;
  }
}

