@import url(./__image/lead__image.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__title/lead__title.css);
@import url(./__caption/lead__caption.css);
.lead {
  margin: 0 auto;
  max-width: 984px;
  max-height: 1005px;
  width: 100%;
}
@media screen and (max-width:1024px) {
  .lead {
    max-width: 928px;
    max-height: 962px;
  }
}
@media screen and (max-width:768px) {
  .lead {
    max-width: 768px;
    max-height: 862px;
  }
}
@media screen and (max-width:320px) {
  .lead {
    max-width: 320px;
    max-height: 406px;
  }
}