.cover__subtitle {
  max-width: 382px;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto 48px;
}

@media screen and (max-width: 800px) {
  .cover__subtitle {
   max-width: 360px;
   margin: 0 auto 40px;
  }
}

@media screen and (max-width: 580px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 17px;
    max-width: 275px;
    margin: 0 auto 24px;
  }
}




