.footer__links {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

@media screen and (max-width:320px){
  .footer__links {
    margin-left: 16px;
    display: grid;
    grid-gap: 32px;
  }
} 