.place__paragraph {
  width: 100%;
  margin: 0 auto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}
.place__paragraph + .place__paragraph {
  margin-top: 24px;
  margin-bottom: 72px;
}

@media screen and (max-width:768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px; 
  }
}
@media screen and (max-width:320px) {
  .place__paragraph  {
    max-width: 288px;
    font-size: 16px;
    line-height: 26px;
  }
}