.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #FFFFFF;
}
@media screen and (max-width:320px){
  .footer__copyright {
    line-height: 14px;
    min-width: 186px;
    padding-right: 118px;
  }
}