.intro__text {
  margin: 0;
  font-size: 13px;
  line-height: 20px;
  list-style-type: none;
  padding: 0;
}

@media screen and (max-width: 375px) {
  .intro__text {
    font-size: 12px;
    line-height: 19px;
  }
}

