@import url(./__list/intro__list.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);
@import url(./__span-accent/intro__span-accent.css);
.intro {
  padding: 92px 0 0 148px;
  max-width: 984px;
}
@media screen and (min-width:1024px) and (max-width:1279px){
  .intro {
    padding: 92px 48px 0 ;
  }
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .intro {
    padding: 92px 24px 0;
}
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .intro {
    padding: 92px 16px 0;
}
}