@import url(./__background/cover__background.css);
@import url(./__link/cover__link.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
.cover {
  margin: 0 auto;
  position: relative;
  max-width: 1184px;
  min-height: 740px;
  width: 100%;
  height: 100%;
}