@import url(./__link/cover__link.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__heading/cover__heading.css);
.cover {
  margin: 0 auto;
  background-image: url(../../images/cover-trains.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 1184px;
  min-height: 740px;
  width: 100%;
}
@media screen and (max-width:1024px) {
  .cover{
    max-width: 1024px;
    min-height: 640px;
  }
}
@media screen and (max-width:768px) {
  .cover{
    max-width: 768px;
    min-height: 480px;
  }
}
@media screen and (max-width:320px) {
  .cover{
    max-width: 320px;
    min-height: 200px;
  }
}