.cover__title {
  margin-bottom: 32px;
  max-width: 560px;
  width: 100%;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (max-width:1024px) {
  .cover__title{
  }
}
@media screen and (max-width:768px) {
  .cover__title{
  }
}
@media screen and (max-width:320px) {
  .cover__title{
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
    max-height: 70px; 
  }
}