.cover__title {
  margin: 245px auto 32px;
  max-width: 560px;
  width: 100%;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  z-index: 2;
  
}