@import url(./__image/place__image.css);
@import url(./__link/place__link.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__title/place__title.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__website/place__website.css);
.place {
  margin: 0 auto;
  max-width: 984px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  grid-column-gap: 40px;
  grid-row-gap: 48px;
} 
.place + .place {
  padding-bottom: 0px;
}
@media screen and (max-width:1024px) {
  .place {
    max-width: 928px;
    max-height: fit-content;

  }
}
@media screen and (max-width:768px) {
  .place {
    max-width: 720px;
    max-height: fit-content;
  }
}
@media screen and (max-width:320px) {
  .place {
    grid-template-columns: 1fr;
    max-width: 320px;
    max-height: fit-content;
    grid-row-gap: 32px;

  }
}