@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__links/footer__links.css);
.footer {
  margin: auto;
  padding-top: 92px;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;

}
@media screen and (max-width: 1023px) and (min-width: 768px){
  .footer {
    padding-top: 88px;
    max-width: 928px;

  }
}
@media screen and (max-width:320px){
  .footer {
    padding-top: 64px;
    flex-direction: column;
  }
}