.header__lang_status_unselected:lang(ru) {
  text-decoration: none;
  margin-left: 18px;
}

.header__lang_status_unselected:lang(en) {
  text-decoration: none;
  margin-right: 18px;
}

@media screen and (max-width: 375px) {
  .header__lang_status_unselected:lang(ru) {
    margin-left: 16px;
  }
}

@media screen and (max-width: 375px) {
  .header__lang_status_unselected:lang(en) {
    margin-right: 16px;
  }
}
