.place__website-url {
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  border-bottom: white 1px solid;
  margin: 0;
  color: white;
}

.place__website-url:hover {
  opacity: 0.5;
  transition: 1s;
}


